.ws-controls {
  display: flex;
  font-family: "Notototo";

  .dock {
    background: $boxDarkBackground;
    display: flex;

    .dock-group {
      display: flex;
      flex: 1;
    }

    .dock-group:nth-child(2) {
      justify-content: center;
    }

    .dock-group:nth-child(3) {
      justify-content: end;
    }
  }

  .control-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    padding: 4px;

    margin: 5px;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    color: $txLighter;
    border-radius: 8px;
    border: 2px solid $boxDarkOutline;
    background-color: $boxPrimaryBackground;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: padding-box;
    cursor: pointer;
  }

  .control-button:active {
    background-color: $boxDarkOutline;
  }
}

.pane-container {
  overflow: hidden;
  background: $boxTransparentDarkBackground;

  .pane {
    display: none;
    margin: 5px;
    color: $txLighter;

    h3 {
      font-size: 14px;
    }
  }

  .pane.visible {
    display: flex;
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  .ws-controls {
    height: 100dvh;
  }

  .dock {
    height: 100dvh;
    width: 50px;
    flex-direction: column;

    .dock-group {
      flex-direction: column;
      align-items: center;
    }
  }

  .control-button.selected {
    border-right: 5px solid $txLighter;
  }

  .pane-container {
    width: 0;
    height: 100%;
    transition: width 0.2s;

    .pane {
      width: calc(100vw - 50px);
      height: 100%;
    }
  }

  .pane-container.visible {
    width: calc(100vw - 40px);
  }

  @media (min-width: 768px) {
    .pane-container.visible {
      width: 330px;
    }

    .pane {
      width: 320px;
    }
  }
}

@media (orientation: portrait) {
  .ws-controls {
    flex-direction: column-reverse;
    width: 100dvw;
  }

  .dock {
    height: 50px;
    width: 100dvw;
    flex-direction: row;

    .dock-group {
      flex-direction: row;
    }
  }

  .control-button.zoom {
    width: 100%;
  }

  .control-button.selected {
    margin-top: 0;
    border-top: 5px solid #dbd2c3;
  }

  .pane-container {
    width: 100%;
    height: 0;
    transition: height 0.2s;

    .pane {
      width: 100%;
      height: calc(100dvh - 50px);
    }
  }

  .pane-container.visible {
    height: calc(100dvh - 40px);
  }

  @media (min-height: 600px) {
    .pane-container.visible {
      height: calc(50dvh - 40px);
    }

    .pane {
      height: calc(50dvh - 50px);
    }
  }
}
