@import "../variables.scss";

.layers-wrapper {
  @include control-list;
  flex-grow: unset;

  .layers {
    @include control-list;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .layer {
    @include list-item-transparent;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
  }

  .layer.selected {
    border: 2px solid $txTransparentHighlight;
  }
}

.legacy-maps {
  margin-top: 1em;
    
  background-color: $boxTransparentPrimaryBackground;
  border-radius: 10px;
  padding: 2px;

  .header {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 8px;
    cursor: pointer;

    .dropdown {
      width: 14px;
    }

    .dropdown,
    .title {
      @include base-text;
    }
  }

  .group {
    width: 100%;
    display: none;
    list-style: none;
    padding: 0;
    gap: 2px 8px;
  }

  .group.visible {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}

@media (orientation: portrait) {
  .layers {
    .layer {
      max-width: 49%;
    }
  }

  .legacy-maps {
    .group {
      .layer {
        max-width: 48%;
      }
    }
  }
}

@media (max-width: 450px) {
  .layers-wrapper {
    .layers {
      .layer {
        max-width: 100%;
      }
    }
  }

  .legacy-maps {
    .group {
      .layer {
        max-width: 100%;
      }
    }
  }
}
