.marker-content-div {
  flex-direction: column;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  pointer-events: all;
}

.marker-label-div {
  display: flex;
  margin-top: -13px;
}

.marker-label-edge-end {
  transform: scaleX(-1);
}

.marker-div-span {
  font-family: "Notototo";
  color: #4b361a;
  padding: 5px 1px 3px;
  background-image: url("/icons/label_center.png");
  background-repeat: repeat-x;
  vertical-align: 100%;
  white-space: nowrap;
}
