@font-face {
  font-family: "Notototo";
  src: url("/fonts/notototo/NotoSerifToto-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/worksans/WorkSans-SemiBold.ttf") format("truetype");
}
