@font-face {
  font-family: "Notototo";
  src: url("/fonts/notototo/NotoSerifToto-SemiBold.ttf") format("truetype");
}

:root {
  font-family: "Notototo", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#map {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.marker-label-div {
  display: flex;
  margin-top: -13px;
}

.marker-label-edge-end {
  transform: scaleX(-1);
}

.marker-div-span {
  font-family: "Notototo";
  color: #4b361a;
  padding: 5px 0px 3px;
  background-image: url("/icons/label_center.png");
  background-repeat: repeat-x;
  vertical-align: 100%;
  white-space: nowrap;
}

#map .leaflet-div-icon {
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
}
